<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>


   <%suhaib.forEach(data =>{ %>

    <div>

<h1><%=data.name %></h1>
<img src="<%=data.image %>" alt="">
<p><%=data.house %></p>
<p><%=data.alive %></p>

    </div>
  <form action="/addtodb" method="post">
      <input type="hidden" name="name" value="<%=data.name %>">
      <input type="hidden" name="image" value="<%=data.image %>">
      <input type="hidden" name="house" value="<%=data.house %>">
      <input type="hidden" name="alive" value="<%=data.alive %>">


      <button type="submit">add to fav</button>
  </form>

  <% }) %>



    </main>
    
</body>
</html>